<form>
    <div class="form-group">
        <label for="name-country">Nombre del país</label>
        <input type="text" class="form-control" id="name-country" placeholder="Nombre del pa&iacute;s" name="nombre" [(ngModel)]="pais.name">
    </div>
    <div class="form-group">
        <label for="habitantes">Numero habitantes</label>
        <input type="number" class="form-control" id="habitantes" placeholder="habitantes" name="population" [(ngModel)]="pais.population">
    </div>
    <button (click)="guardar()" class="btn btn-primary">Submit</button>
</form>
<div>{{pais | json}}</div>