<table class="table table-dark">
    <thead>
        <tr>
            <th>id</th>
            <th>Nombre</th>
            <th>Población</th>
            <th>Capital</th>
            <th>Bandera</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let pais of paises; let i = index">
            <td>{{i}}</td>
            <td>{{pais.name }}</td>
            <td>{{pais.population }}</td>
            <td>{{pais.capital | noText}}</td>
            <td>{{pais.flag | noText}}</td>
        </tr>
        <tr>
    </tbody>
</table>