<ul class="nav flex-column">
    <li class="nav-item">
        <a class="nav-link" [routerLink]="['/grilla']">Grilla</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" [routerLink]="['registro']">registro</a>
    </li>
</ul>